@import "includes/mixins.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a, label {
  text-decoration: none;
  .hola {
    width: 100%;
  }
  .otra {
    height: 100%;
  }
}



